*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #080d11;
    background-image: url('https://images.pexels.com/photos/1133688/pexels-photo-1133688.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-repeat: no-repeat;            
    background-size: 100%;                 
}
/* conteúdo fundo */
.conteudo{
    text-align: center;
    width: 350px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 50px auto;
    padding: 20px;
}
.conteudo h1{
    color: #ff6e5b;
    padding-bottom: 30px;
    line-height: 100px;
}
.conteudo p{
    color: white;
    text-align: justify;
}
.conteudo .copy{
    text-align: center;
    padding-top: 50px;
    font-style: italic;
}
.btnEntrar{
    background-color: #ff6e5b;
    border: 0;
    padding: 5px;
    color: white;
    width: 300px;
    height: 35px;
    cursor: pointer;
    margin-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
}
.btnEntrar:hover{
    background-color: white;
    color: #0E1116;
}

/* Login MODAL */
.modal{
    display: none;
    animation: animamodal 800ms;
}
@keyframes animamodal{
    from{
        opacity: 1;
        opacity: 0;
    }
}

.btnFechar{
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.btnFechar:hover{
    background-color: #D74E39;
    color: white;
    transition: 0.3s;
}
.loginModal{
    background-color: white;
    width: 380px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.loginModal h2{
    margin-top: 50px;
    margin-bottom: 10px;
    color: #575454;
}
.loginModal .campoInput{
    border: 1px solid #d3d3d3;
    padding: 5px;
}
.loginModal input{
    width: 300px;
    border: 0;
    outline: 0;
}
.btnLogar{
    border: 2px solid #ff6e5b;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    color: #ff6e5b;
    width: 100px;
    height: 35px;
    cursor: pointer;
    margin-top: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    box-shadow: 0px 1px 5px #000;
}
.btnLogar:hover{
    color: white;
    background-color: #E74C3C;
    border: 0;
    transition: 0.3s;
}

.sociaisLogar a{            
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding: 3px;
}
.logarFacebook{
    background-color: #385797;
    padding: 5px;
    width: 320px;
    border: 1px solid #d3d3d3;
}   
.logarFacebook a{
    display: block;
    width: 320px;
}    
.logarFacebook span{
    padding-left: 15px;
}
/* google */
.logarGoogle{
    margin-top: 5px;
    background-color: #D74E39;
    padding: 5px;
    width: 320px;
    border: 1px solid #d3d3d3;
}
.logarGoogle a{
    background-color: #D74E39;
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding: 3px;                
    display: block;
    width: 320px;        
}
.logarGoogle span{
    padding-left: 15px;
}

/* muda senha e cadastrar */
.mudaSenha{
    display: flex;
    flex-direction: column;
    gap: 8px;       
    width: 100%;
}
.mudaSenha span, a.esqueceuSenha{
    text-decoration: none;
    font-size: 12px;            
    padding-left: 25px;
}
.mudaSenha a{            
    color: #3C8BBE;
}
.mudaSenha span{
    color: #575454;
}
.mudaSenha a.cadastrar{
    /* background-color: #E74C3C; */
    border: 2px solid #E74C3C;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    background-color: #E74C3C;
    color: white;
}
.mudaSenha a.cadastrar:hover{
    background-color: white;
    color: #3C8BBE;
    transition: 0.3s;
}

@media screen and (max-width: 770px){
    body{
        background-repeat: repeat;
    }
}

@media screen and (max-width: 400px) {
    .conteudo p{
        display: block;
        margin-right: 50px;
    }
    .conteudo .btnEntrar{
        width: 250px;
        margin-right: 50px;
    }
    .loginModal{
        width: 290px;
    }
    .campoInput{
        width: 270px;
    }
    .campoInput input{
        width: 240px;
    }
    .logarFacebook, .logarGoogle{
        width: 250px;
    }
    .logarGoogle a{
        width: 240px;
    }
}